
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: #28caca;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-class {
    display: flex;
    gap: 10px;
}

.logout{
    width: 150px;
    left: 0px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);

}

.search-container:hover>.search-input{
    width: 400px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas {
    color: #5cbdbb;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #908888ac;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    backdrop-filter: blur(3px);
    overflow-x: hidden;
    padding-top: 20px;
    transition: all 0.5s ease-in-out;
}

.sidenav.open {
    width: 200px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #1f1c1c;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.5s;
}

button.openbtn {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border: none;
    text-align: center;
    padding: 0;
  }
  
h1,h2{
    padding-left: 15px;
}

section{
     display: flex;
     justify-content: center;
}

#foodFact{
    border-radius: 10px;
    background-color: #38696938;
    margin: 25px;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foodFact p{
    font-size: medium;
}
#recommendations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.recommendation{
    height: auto;
    width: 450px;
    background-color: #38696938;
    color: rgb(216, 232, 238);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:hover{
        scale: 1.03;
    }

}

.recommendation img {
    width: 100%;
    height: 400px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.recommendation h2 {
    text-align: center;
}

.view-recipe-btn{
    margin: 15px;
    height: 30px;
    background-color: aqua;
    border: none;
    border-radius: 7px;

    &:hover{
        background-color: rgb(172, 232, 232);
    }
}